<div class="row">
<div class="col  col-12" >
  <h3>Events</h3>
    </div>
   
  {{#events}}
     <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3">
         <div class="card">            
    <div class="card-body">
        <h4>{{ title }}</h4>
        <p>{{ description }}</p>
</div>
<div class="card-footer">
   <div class="row">
       <div class="col">
 <i class="like-button fa fa-heart-o" data-fill="no"></i> 0 
       </div>
        <div class="col">
 <i class="ml-2 fa fa-comment-o"></i> 0 
       </div>
       <div class="col">
  <button type="button" class="rsvp-button btn btn-sm btn-outline-primary" >
  RSVP
</button>
       </div>
   </div>

   <script>
  $(".like-button").on("click",function(){
      var fillStatus= $(this).data("fill");
      if (fillStatus=="yes"){
        $(this).removeClass('fa-heart-o');
        $(this).addClass('fa-heart');
        $(this).addClass('text-danger');
        $(this).data("fill","no");
      }
     else if (fillStatus=="no"){         
        $(this).removeClass('text-danger');
        $(this).removeClass('fa-heart');
        $(this).addClass('fa-heart-o');
        $(this).data("fill","yes");
      }


  });


  $(".rsvp-button").on("click",function(){
      $(this).html('<i class="fa fa-check-circle"></i> ');
      $(this).removeClass('btn-outline-primary');
      $(this).addClass('btn-success');

  });
   </script>
       
        
        
   
</div>
         </div>
        
   </div>
  {{/events}}
  </div>

